<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bangumi Manger - 一个便捷的追番管理工具</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="static/css/font.css">
    <link rel="stylesheet" href="static/css/icon.css">
    <link rel="stylesheet" href="static/css/lazy-image-style.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body ng-app="bangumi" unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;">

<div id="app" ng-controller="AppCtrl as app" ng-cloak>

    <!-- title bar start -->
    <div no-select class="titlebar paper-bg-light-black paper-text-white" layout="row" layout-align="start center">
        <div flex="0"></div>
        <!-- tab start -->
        <div layout="row" layout-align="start center">
            <div class="titlebar-button" ng-class="{active:app.selectedTabName=='home'}" ng-click="app.selectTab('home')">
                <md-icon icon-font-library="material-icons" aria-label="home">home</md-icon>
                <p>主页</p>
            </div>
        </div>
        <div layout="row" layout-align="start center">
            <div class="titlebar-button" ng-class="{active:app.selectedTabName=='weikan'}" ng-click="app.selectTab('weikan')">
                <md-icon icon-font-library="material-icons" aria-label="video_library">video_library</md-icon>
                <p>待看库</p>
            </div>
        </div>
        <div layout="row" layout-align="start center">
            <div class="titlebar-button" ng-class="{active:app.selectedTabName=='kanwan'}" ng-click="app.selectTab('kanwan')">
                <md-icon icon-font-library="material-icons" aria-label="done_all">done_all</md-icon>
                <p>存储库</p>
            </div>
        </div>
        <div layout="row" layout-align="start center">
            <div class="titlebar-button" ng-class="{active:app.selectedTabName=='settings'}" ng-click="app.selectTab('settings')">
                <md-icon icon-font-library="material-icons" aria-label="settings">settings</md-icon>
                <p>设置</p>
            </div>
        </div>
        <!-- tab end -->
        <div flex></div>
        <!-- control start -->
        <div layout="row" layout-align="start center">
            <div minimize-button class="titlebar-button">
                <md-icon icon-font-library="material-icons" aria-label="minimize">keyboard_arrow_down</md-icon>
            </div>
            <div close-button class="titlebar-button">
                <md-icon icon-font-library="material-icons" aria-label="close">close</md-icon>
            </div>
        </div>
        <!-- control end -->
    </div>
    <!-- title bar end -->

    <!-- tab = home start -->
    <md-content class="paper-bg-white content-high animate-opcity" ng-show="app.selectedTabName=='home'" layout="row" ng-include="'static/view/tab_home.html'"></md-content>
    <!-- tab = home end -->

    <md-content class="paper-bg-white content-high animate-opcity" ng-show="app.selectedTabName=='weikan'" layout="row" ng-include="'static/view/tab_weikan.html'"></md-content>

    <md-content class="paper-bg-white content-high animate-opcity" ng-show="app.selectedTabName=='kanwan'" layout="row" ng-include="'static/view/tab_kanwan.html'"></md-content>

    <md-content class="paper-bg-white content-high animate-opcity" ng-show="app.selectedTabName=='settings'" layout="row" ng-include="'static/view/tab_settings.html'"></md-content>

</div><!-- AppCtrl end -->

<script>
document.ondragstart=function() {return false;}
require( './lib/app.js' );
</script>

<!-- Angular Dependencies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

<!-- Angular vendors -->
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-lazy-img/release/angular-lazy-img.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<!-- startup angular app -->
<script src="static/js/bundle.js"></script>
</body>
</html>
