<md-bottom-sheet class="md-grid" layout="column" style="height: 730px;overflow-y: scroll;">
  <div layout="row" layout-align="center center" ng-cloak style="padding-top: 50px;">
    <h4>拖拽下拉 或 按 ESC 键关闭</h4>
  </div>
  <div ng-cloak>
    <md-list flex layout="row" layout-align="center center">
      <md-list-item ng-repeat="item in items">
        <div>
          <md-button class="md-grid-item-content" ng-click="listItemClick($index)" style="width:200px">
            <md-icon icon-font-library="material-icons" style="font-size: 48px;height: 48px;width: 48px;">{{item.clarity | clarityIcon}}</md-icon>
            <div class="md-grid-text" style="width:100%"> {{ item.number }} </div>
          </md-button>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-bottom-sheet>
