<div flex>
  <md-list ng-controller="weikanCtrl" ng-cloak>

    <md-list-item class="secondary-button-padding"  ng-click="goToPerson(person.name, $event)">
      <p>Re : 从零开始的异世界111111111</p>

      <md-icon icon-font-library="material-icons"  ng-click="doSecondaryAction($event)" aria-label="top" class="md-secondary md-hue-3" >eject</md-icon>
      <md-icon icon-font-library="material-icons"  ng-click="doSecondaryAction($event)" aria-label="top" class="md-secondary" >build</md-icon>
      <md-button class="md-secondary md-raised md-primary">播放</md-button>
    </md-list-item>

    <md-list-item class="secondary-button-padding"  ng-click="goToPerson(person.name, $event)">
      <p>Re : 从零开始的异世界111111111</p>
      <md-button class="md-raised md-primary">播放</md-button>
    </md-list-item>

  </md-list>
</div>
