<div flex>
    <div layout="column" layout-align="center center" style="height:100%" ng-controller="SettingsCtrl as settings">
      <image src="static/image/app-icon.png" style="width:200px;height:200px;" />
      <h1>Bangumi Manger</h1>
      <h2>一个更加便捷的追番管理软件</h2>
      <p ng-click="settings.openweb()">作者:{{author}} 版本:{{version}}</p>
    </div>
</div>
<div flex style="border-left-width: 1px;border-left-style: solid;border-left-color: rgba(0,0,0,0.12);">
  <md-list ng-controller="SettingsCtrl as settings" ng-cloak>
      <md-subheader class="md-no-sticky">系统设置</md-subheader>
      <md-list-item ng-repeat="systemsetting in systemsettings">
        <p> {{ systemsetting.name }} </p>
        <md-switch ng-model="settings.items.system[systemsetting.item]" ng-blur="settings.save()"></md-switch>
      </md-list-item>

      <md-divider></md-divider>

      <md-subheader class="md-no-sticky">目录设置</md-subheader>
      
  </md-list>
</div>
